/* Styles Généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    color: #0b0b0b;
    background-color: #f9f9f9;
}

h1, h3 {
    color: #edeff0;
}
h2{
    color: #0b0b0b;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

section {
    padding: 50px 0;
}

header {
    background-color: #e22c8a;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #00bcd4;
}
.hero {
    background: url(header.jpg) no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: #ff46ac;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #6a0149;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #ff46ac;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color:  #6a0149;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skills li {
    background: #ff46ac;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
.loisir {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.loisir li {
    background: #ff46ac;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #ff46ac;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #ff46ac;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6a0149;
    color: #fff;
}
.mail{
    color: #0b0b0b;
}
